.logo{
    width: 75px;
    height: 75px;
}
body{
    height: 100%;
    margin: 0;
}

.bg{
    background-image: url("Images/Library.jpg");
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.avatar{
    width: 100px;
    height: 100px;
}

section{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section h1{
    font-family: fantasy;
    font-size: 50px; 
    line-height: 0.1; 
    color: #F7AA04;
}

section>div+div button{
   padding: 30px 15px;
   float:left;
   opacity: 0.8;
   border: 2px;
   box-shadow: 0 9px #999;
   border-radius: 8px;
   background-color: #F7AA04;
   font-family: fantasy;
   font-size: 30px;
   line-height:0.5;
   color: #C51A0A;
   opacity:0.7;
}

section>div+div button:hover{
    background-color: #BA7409;
}

section>div+div button:active{
     background-color: #BA7409;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
}

form{
    position: relative;
    top: 50;
    left: 100;
    padding: 20px;
    width: 500px;
    height: 350px;
    background: #F7AA04;
    border: 20px #C51A0A;
    border-radius: 20px;
    opacity:0.7;
}